<div id="header_wrap" class="outer">
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/Caneda/Caneda">View on GitHub</a>

        <h1 id="project_title">Caneda</h1>
        <h2 id="project_tagline">Caneda (Circuits and Networks Electronics Design Automation) is an open source EDA software focused on easy of use and portability.</h2>

        <section id="downloads">
            <a class="zip_download_link" href="https://github.com/Caneda/Caneda/zipball/master">Download this project as a .zip file</a>
            <a class="tar_download_link" href="https://github.com/Caneda/Caneda/tarball/master">Download this project as a tar.gz file</a>
        </section>
    </header>
</div>
