<div id="header_wrap" class="outer">
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/Caneda/Caneda">View on GitHub</a>

        <h1 id="project_title">Caneda</h1>
        <h2 id="project_tagline">Caneda (Circuits and Networks Electronics Design Automation) is an open source EDA software focused on easy of use and portability.</h2>

        <section id="downloads">
            <a class="button button-action button-box button-giant button-longshadow-right" href="https://github.com/Caneda/Caneda/tarball/master">
                <i class="fa fa-download"> <i class="fa fa-linux"></i></i>Download this project as a tar.gz file</a>
            <a class="button button-primary button-box button-giant button-longshadow-right" href="https://github.com/Caneda/Caneda/releases/download/0.1.0/CanedaInstaller_0.1.0.exe">
                <i class="fa fa-download"> <i class="fa fa-windows"></i></i>Download the Windows Installer</a>
        </section>
    </header>
</div>
